.card__subtitle {
  font-family: Akrobat;
  font-size: 26px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 20px 0;
}

@media screen and (max-width: 800px) {
  .card__subtitle {
    font-size: 20px;
  }
}
