.discount__arrow-left {
  width: 54px;
  height: 78px;
  position: absolute;
  top: 50%;
  left: 20px;
  background-image: url(/images/discount-arrow.png);
  background-size: cover;
}

@media screen and (max-width: 800px) {
  .discount__arrow-left {
    width: 27px;
    height: 39px;
    top: 20%;
  }
}

@media screen and (max-width: 400px) {
  .discount__arrow-left {
    display: none;
  }
}
