.banner__snowman {
  width: 209px;
  height: 176px;
  position: absolute;
  bottom: 0;
  right: 217px;
  background-image: url(/images/snowman.png);
  background-size: cover;
  z-index: 2;
}

@media screen and (max-width: 600px) {
  .banner__snowman {
    display: none;
  }
}
