.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 10px;
}

@media screen and (max-width: 1000px) {
  .header__content {
    padding: 20px 20px 10px;
  }
}
